.User{
    flex: 4;
    padding: 20px;
}

.UserTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.UserAdd{
    width: 80px;
    border: none;
    padding: 5px;
    background-color: rgb(107, 120, 192);
    cursor: pointer;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

.UserContainer{
    display: flex;
    margin-left: 20px;

}

.UserShow{
    flex: 1;
    padding: 20px;
    -webkit-box-shadow: 1px 7px 0px 1px rgba(0,0,0,0.08);
    -moz-box-shadow: 1px 7px 0px 1px rgba(0,0,0,0.08);
    box-shadow: 1px 7px 0px 1px rgba(0,0,0,0.08);
    
}

.UserUpdate{
    flex: 2;
    padding: 20px;
    -webkit-box-shadow: 1px 7px 0px 1px rgba(0,0,0,0.08);
    -moz-box-shadow: 1px 7px 0px 1px rgba(0,0,0,0.08);
    box-shadow: 1px 7px 0px 1px rgba(0,0,0,0.08);
    margin-left: 20px;
}

.UserShowTop{
    display: flex;
    align-items: center;
    
}

.UserShoeImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.UserShowTopTittle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.UserShowName{
    font-weight: 600;
}

.UserShowTitleName{
    font-weight: 300;
}

.UserShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgb(155, 145, 145);
}

.UserShowBotton{
    margin-top: 20px;
}

.UserShowInfor{
   display: flex;
   align-items: center; 
   margin: 20px 0px;
   color: #444;
}

.UserShowIcon{
    font-size: 16px !important;
}

.UserShowTittleInfo{
    margin-left: 10px;
}

.UserUpdateTittle{
    font-size: 24px;
    font-weight: 600;
}

.UserUpdateForm{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.UserUpdateItems{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.UserUpdateItems>label{
    margin-bottom: 5px;
    font-size: 14px;

}

.UserUpdateInput{
    border: none;
    width: 250px;
    height: 20;
    border-bottom: 1px solid grey;
}

.UserUpdateRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.UserUpdateUpload{
    display: flex;
    align-items: center;
}

.UserUpdateImg{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 20px;
}

.UserUpdateIcon{
    cursor: pointer;
}

.UserUpdateButtom{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(107, 120, 192);
    color: white;
    font-weight: 600;
}