.Products{
    flex: 4;
}

.ProductsModif{
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: rgb(107, 120, 192);
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.ProductsIco{
    color: red;
    cursor: pointer;
}

.ProductsListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.ProductsListUser{
    display: flex;
    align-items: center;
}